node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.next/
out/

dist
build

.vscode/
.idea/
.cursor/

.git
.gitignore

Dockerfile*
docker-compose*
.dockerignore

README.md
*.md
certificates/
*.log

pids
*.pid
*.seed
*.pid.lock

coverage/
jspm_packages/

.npm

.node_repl_history

*.tgz
